body {
    font-family: 'Oswald', sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 960px;
}

.site-header {
    background-color: black;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
}

.site-header img {
    width: auto;
    height: 30px;
}

.slide-pointer {
    color: rgba(0, 0, 0, .85);
}