body {
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 960px;
}

.site-header {
    background-color: black;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.site-header img {
    width: auto;
    height: 30px;
}

.slide-pointer {
    color: rgba(0, 0, 0, .85);
}

.products-container {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
}

.products-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar {
    padding: 0;
    margin: 0;
    border: 1px solid #d9dcdd;
}

.sidebar_container {
    padding: 10px;
    border-top: 1px solid #d9dcdd;
}

.sidebar_container:first-child {
    border-top: 0px;
}

.sidebar-type {
    margin-left: 10px;
    font-size: 25px;
}

.sidebar-content {
    padding: 0;
    margin-left: 40px;
    margin-bottom: 0px;
    list-style: none;
    font-size: 20px;
}

.sidebar-content li a {
    color: black;
}

.sidebar-content li a:hover {
    color: black;
    background-color: #ebedee;
    text-decoration: none;
}
